$yel-do: #FDEF46; // Do Over color scheme
$blu-do: #26C8EF; // Do Over color scheme
// $serif-do: 
// $sans-do:

input {
	display: block;
}

body {
	background-color: $yel-do;
	color: $blu-do;
}

h1 {
	font-weight: bold;
}

.plus-goal {
	font-family: Arial;
	font-size: 6em;
	text-decoration: none;
}