$yel-do: #FDEF46; // Do Over color scheme
$blu-do: #26C8EF; // Do Over color scheme
// $serif-do: 
// $sans-do:

input {
	display: block;
}

body {
	background-color: $yel-do;
	color: $blu-do;
}

h1 {
	font-weight: bold;
}

.plus-goal {
	font-family: Arial;
	font-size: 6em;
	text-decoration: none;
}

input {
	background-color: $yel-do;
	border: 2px solid $blu-do;
	border-radius: 4px;
	padding: 10px;
	width: 90%;
	display: block;
	outline: none;
	box-shadow: 0 0 10px #9ecaed;
}