<div class="text--small">
  <div class="container">
    <div class="dash-icon-div">
      <a href="#/">
        <img border="0" alt="Sccssr Dashboard" src="./images/dashboard-icon.png">
      </a>
    </div>
    <div class="form-field" ng-hide="editorEnabled">
      <input placeholder="{{ selectedGoal.name }}Name" ng-model="selectedGoal.name" ng-change="init(selectedGoal.id, selectedGoal.name)" class="detail-field">
    </div>
    <div class="form-field" ng-hide="editorEnabled">
      <input placeholder="{{ selectedGoal.type }}Type" ng-model="selectedGoal.type" ng-change="init(selectedGoal.id, selectedGoal.type)" class="detail-field">
    </div>
    <div class="form-field" ng-hide="editorEnabled">
      <input placeholder="{{ selectedGoal.objective }}Objective" ng-model="selectedGoal.objective" ng-change="init(selectedGoal.id, selectedGoal.objective)" class="detail-field">
    </div>
    <div class="form-field" ng-hide="editorEnabled">
      <input type="date" placeholder="{{ selectedGoal.startDate }}Start Date" ng-model="selectedGoal.startDate" ng-change="init(selectedGoal.id, selectedGoal.startDate)" class="detail-field">
    </div>
    <div class="form-field" ng-hide="editorEnabled">
      <input type="date" placeholder="{{ selectedGoal.endDate }}End Date" ng-model="selectedGoal.endDate" ng-change="init(selectedGoal.id, selectedGoal.endDate)" class="detail-field">
    </div>
  </div>
  <div class="seventy5">
    <button class="delete-btn" id="{{selectedGoal.id}}" ng-click="deleteGoal($event)">Delete Goal</button>
  </div>
</div>
