<section class="partial-login">
  <div class="login-banner">
	  <h1>Sccssr</h1>
  	<h2>The dashboard for your life.</h2>
  </div>
  <div class="log-reg-div">
  	<div>
		  <h3>Login or Register</h3>
		  <form class="login-form">
		    <p>Email: <input type="text" autofocus="true" ng-model="account.email" required/></p>
		    <p>Password: <input type="password" ng-model="account.password" ng-keypress="$event.which === 13 && checkRegistration()" required /></p>
		  </form>
			  <button class="login-btn" ng-click="login()">Login</button>
			  <button class="register-btn" ng-click="register()">Register</button>
		  <div ng-if="account.email === '' && account.password === ''">
		  	<span>Please enter a user name and password before login or register.</span>
		  </div>
  	</div>
  </div>
</section>
