<nav class="nav">
  <div class="nav-top-row">
    <div class="odometer">
      <a href="#/">
        <img border="0" alt="Sccssr Dashboard" src="./images/dashboard-icon.png">
      </a>
    </div>
    <div class="logout-login">
      <a href="#/logout" ng-click="logout()">
        <span ng-if="isAuthenticated()">
          <img border="0" alt="Sccssr Dashboard" src="./images/sign-off.png">
        </span>
        <span ng-if="!isAuthenticated()">Login</span>
      </a>
    </div>
  </div>
  <div class="nav-botm-row">
    <div class="plus-goal">
      <a href="/#/goals/new">+</a>
    </div>
  </div>
</nav>
  
