input {
  display: block; }

body {
  background-color: #FDEF46;
  color: #26C8EF; }

h1 {
  font-weight: bold; }

.plus-goal {
  font-family: Arial;
  font-size: 6em;
  text-decoration: none; }

input {
  background-color: #FDEF46;
  border: 2px solid #26C8EF;
  border-radius: 4px;
  padding: 10px;
  width: 90%;
  display: block;
  outline: none;
  box-shadow: 0 0 10px #9ecaed; }
